* {
  margin: 0px;
  box-sizing: border-box;
}
a {
  color: #000000;
}
button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover1:hover {
  background-color: #22232525;
}
.hover2:hover {
  color: green;
}
.hover3:hover {
  background-color: green;
  color: #ffffff;
}
.fiver-pic {
  height: 80px;
}
.nav-search {
  display: flex;
}
.searchbar {
  height: 42px;
  border: 0.5px black solid;
}
input {
  width: 400px;
  height: 42px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #74767e solid;
}
.search-icon {
  height: 42px;
  width: 50px;
  border: 0.5px black solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: black;
  color: #ffffff;
}
input {
  font-size: 1rem;
}

.box-3 {
  height: 48px;
  font-size: 20px;
  gap: 5px;
  padding-left: 30px;
}
.button1 {
  padding-right: 24px;
  height: 48px;
}
.button2 {
  height: 48px;
  padding-right: 24px;
}
.nav-a {
  color: rgb(0, 1, 2);

  text-decoration: none;
  background-color: transparent;
}
select {
  border: none;
  background-color: transparent;
}
.right-buttons {
  background: none;
  display: flex;
  gap: 8px;
  border: none;
  color: #74767e;
  font-size: 20px;
  padding-right: 24px;
  text-align: left;
}
.bold-text {
  font-weight: bold;
}
.light-color {
  color: #74767e;
}
.right-button-LAST {
  background: none;
  border: 2px green solid;
  border-radius: 5px;
  color: green;
  font-size: 20px;
  padding-right: 24px;
}

/* nav end page start */
.main-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  border: 2px black solid;
  max-width: 1000px;
  min-width: 300px;
}
.main-left {
  width: 100%;

  position: relative;
  color: #ffffff;
}
.left-bg {
  width: 100%;
}
.left-content {
  position: absolute;
  top: 20%;
  left: 15%;
}

.main-right {
  background-color: #faf9f9;
  width: 100%;
  position: relative;
  text-align: center; 
 
  align-items: center;
  
}
.right-content {
  margin-top: 100px; 

  align-items: center;
}
.right-btn {
  width: 70%;
  margin: auto;
  height: 42px;
  font-size: 2opx;
  border: 0.5px black solid;
  border-radius: 5px;
  position: relative;
  padding: 10px;
}
.right-btn:hover {
  background-color: #22232525;
}
.right-icon {
  position: absolute;
  left: 5px;
  top: 15px;
  
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 22px;
  border-top: 1px solid #545454;
  margin-top: 20px;
}
.links-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.links-list {
  display: flex;
  gap: 15px;
  flex-direction: column;
  font-size: 20px;
}
.links-list a {
  text-decoration: none;
  color: #545454;
}

.links-list a:hover {
  text-decoration: underline;
}
